{% extends 'admin/admin-layout.html' %}
{% block title %}Modify {{category.name}}{% endblock %}
{% block page_content %}

    <h1>Modify Category</h1>

    <form action="{{url_for('admin.modify_category', category_id = category.id)}}" method="POST">
        {{form.hidden_tag()}}
        <div class="form-row my-5">
            Name:{{form.name(class_="form-control",placeholder="Name")}}

            Slug:{{form.slug(class_="form-control",placeholder="Slug")}}

            Description:{{form.description(class_="form-control",placeholder="Description")}}

        </div>
        <button class="btn btn-primary btn-block w-25 mx-auto " type="submit">Submit</button>
    </form>
{% endblock %}