{% extends 'admin/admin-layout.html' %}
{% block title %}Modify {{post.title}}{% endblock %}
{% block page_content %}
<style>
    .form-check-input{
        position: relative;
        margin: 15px 0 0;
        list-style: none;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    input,textarea{
        margin: 10px 0;
    }
</style>
    <h1>Modify Post</h1>

    <form action="{{url_for('admin.modify_post', post_id = post.id)}}" method="POST">
        {{form.hidden_tag()}}
        <div class="form-row my-5">
            Title:{{form.title(class_="form-control",placeholder="Title")}}

            Slug:{{form.slug(class_="form-control",placeholder="Slug")}}

            Summary:{{form.summary(class_="form-control",placeholder="Summary")}}

            Content:{{form.content(class_="form-control",placeholder="Content")}}
            
            <div class="form-check mt-4 col-12">
                Categories:{{form.categories(class_="form-check-input")}}
            </div>
        
        </div>
        <button class="btn btn-primary btn-block w-25 mx-auto " type="submit">Submit</button>
    </form>
{% endblock %}