{% extends 'layout.html' %}
{% block title %}Home{% endblock %}
{% block content %}
    <h1>Home</h1>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Login</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <h2 class="my-2">Register</h2>
            <form method="POST" action="/register">
                <div class="form-row">
                    <div class="col">
                        <input type="text" class="form-control" name="username" placeholder="Username">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" name="password" placeholder="Password">
                    </div>
                    <button type="submit">submit</button>
                </div>
            </form>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <h2 class="my-2">Login</h2>
            <form method="POST" action="/login">
                <div class="form-row">
                    <div class="col">
                        <input type="text" class="form-control" name="username" placeholder="Username">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" name="password" placeholder="Password">
                    </div>
                    <button type="submit">submit</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}